header
    title Ajouter une review
    p.cop By TheoCib©
    h1 Ajouter une review
    link(rel="stylesheet", href="/stylesheets/styles.css")
    if user
        p Compte: #{user.firstname}
        a.connect(href="/api/logout") Se deconnecter
        br
        a.connect(href="/login") Profil


    else
        a.connect(href="/signup") S'inscrire
        br
        a.connect(href="/login") Se connecter

body
    form(method="POST")
        div.addform
            input(type="text", name="title", placeholder="Titre du jeu")
            input(type="number", min="0", max="10", name="grade", placeholder="Note /10")
            textarea(type="text", name="content", placeholder="Review du jeu", rows=7, cols=50)
            button(type="submit") Envoyer
a(href="/") Retour Liste

